


body {
    font-family: Arial, sans-serif;
}
.sidebar {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f8f8;
    padding: 20px;
    box-sizing: border-box;
}
.sidebar h2 {
    margin-bottom: 20px;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar li {
    margin-bottom: 10px;
}
.sidebar a {
    text-decoration: none;
    color: #333;
}
.sidebar a:hover {
    color: #007bff;
}





/* InputForm.css */

/* Center the form horizontally and vertically */


/* Style the form */
.form-container {
  text-align: center;
  width: 40%;
  margin-left: 30%;
  margin-top: 5%;
border: 2px solid cadetblue;
  color: black;
  padding: 20px;
  border-radius: 5px;
 
}
.btn{
  background-color: black;
  width: 80px;
  color: red;
  border-radius: 5px;
}
.btn:hover{
  scale: 1.1;
  color: blue;
  border-style: double;
  transition:cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 5px solid green;
  border-radius: 5px;
}
input{
background-color:rgba(10, 10, 10, 0.082);
color: black;
}

/* Add additional styles as needed */
textarea{
  background-color: lightgray;
  color: black;
  
}